* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* list-style: none; */
    /* text-decoration: none; */
}

a {
    text-decoration: none;
    display: inline-block;
}


li {
    list-style: none;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}


.container .min{
    max-width: 830px;
    margin: 0 auto;
}


/* HEADER */


.header {
    padding: 24px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.header__phonee {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    display: flex;
    /* gap: 20px; */
}


.header__phone {
    display: flex;
    gap: 20px;
    align-items: center;
}


.fa-bars {
    font-size: 23px;
}


.fa-mobile-screen-button {
    padding: 7px;
}


.header__btn {
    padding: 10px 25px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    /* background: transparent; */
    border: 1px solid #000000;
    transition: 300ms;
    cursor: pointer;
}


.header__btn:hover {
    /* background: transparent; */
    color: #fff;
    background-color: #000000;
}



.header__img {
    margin-right: -100px;
}


/* ///////////////////// */


.hero {
    background: url(images/Mask\ Group.jpg) no-repeat center/cover;
    padding: 190px 0;
}


.hero__title {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 140.9%;
    text-align: center;
    color: #FFFFFF;
}


.hero__subtitle {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 177%;
    text-align: center;
    color: #FFFFFF;
    width: 514px;
    margin: 0 auto;
    padding: 16px 0 27px;
}


.hero__buy-btn {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: transparent;
    padding: 11px 33px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    transition: 300ms;
}


.hero__buy-btn:hover {
    background: #fff;
    color: #000000;
}

.hero__btn {
    /* align-items: center; */
    margin-left: 550px;
}


/* ////////////// */


.img {
    text-align: center;
    padding: 51px 0 80px
}


.img__logo-img {
    border-radius: 100px;
    padding: 10px;
}


/* ////////// */


.area__titlee {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 125%;
    text-align: center;
    color: #223463;
    margin-bottom: 40px;
}


.area__title {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 125%;
    color: #000000;
    /* margin-top: -17px; */
    /* border-bottom: 2px solid #8EA7CD; */
}


.area__title::after {
    content: '';
    width: 100%;
    height: 3px;
    border-bottom: 2px solid #8EA7CD;
    display: block;
}


/* .area__menuu{
    display: flex;
    justify-content: center;
    flex-direction: column;
}        */


.area__wrapper {
    display: flex;
    padding: 34px 0;
}


.area__left {
    width: 386px;

}


.area__right {
    width: 386px;
    margin-left: 250px;
}


.area__link {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #1D509C;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 16px;
    cursor: pointer;

}


.area__mark {
    margin-left: 20px;
}


.area__btn {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 13px 44px;
    background: #223463;
    border: 1px solid #000000;
    transition: 300ms;
    cursor: pointer;
    /* margin-left: 7px; */
}


.area__btn:hover {
    background: #000000;
    color: #FFFFFF;
}



.area__listt {
    margin-bottom: 50px;
}


/* ///////// */


.number {
    background: url(images/facts-bg.png)no-repeat center/cover;
    padding: 80px 0;
    position: relative;
}


.number::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(243, 246, 250, 0.94);
    /* opacity: 0.94; */
    /* z-index: 1; */
    /* display: block; */
}


.number__title {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 125%;
    text-align: center;
    color: #000000;
    position: relative;
    z-index: 1;
}


.number__subtitle {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #000000;
    z-index: 1;
    position: relative;
}


.number__block {
    /* opacity: 0.6; */
    border: 2px solid #1D509C;
    position: relative;
    z-index: 1;
    padding: 45px;
    margin: 30px;
    width: 340px;
    transition: 300ms;
    cursor: pointer;
}


/* .number__block:hover {
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
    cursor: pointer;
    border-color: transparent;
} */

.number__wrapper {
    display: flex;
    justify-content: center;
}